.final-overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.85);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
  flex-direction: column;
  color: white;
  text-align: center;
}

.cake-scene {
  position: relative;
  width: 300px;
  height: 300px;
  transform: translateY(10%);
}

.falling {
  width: 40px;
  height: 40px;
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  top: -50px;
  left: 50%;
  transform: translateX(-50%);
  animation: fall 1s forwards;
  visibility: visible;
}

@keyframes fall {
  to {
    top: 250px;
    visibility: hidden;
  }
}

.bowl {
  position: absolute;
  bottom: 0;
  // left: 50%;
  width: 350px;
  transform: translate(-10%, 15%)
}

.bowl.shake {
  animation: 
    shakeA 0.5s ease-in-out 3 forwards, 
    fadeOut 0.5s ease forwards 1.5s;
}

@keyframes shakeA {
  0% { transform: translate(-10%, 10%) rotate(0deg); }
  25% { transform: translate(-10%, 10%) rotate(-10deg); }
  50% { transform: translate(-10%, 10%) rotate(10deg); }
  75% { transform: translate(-10%, 10%) rotate(-10deg); }
  100% { transform: translate(-10%, 10%) rotate(0deg); }
}

@keyframes fadeOut {
  from { opacity: 1; }
  to { opacity: 0; visibility: hidden; }
}

.cake.big {
  position: absolute;
  bottom: 0;       /* ставим на нижнюю границу контейнера */
  left: 60%;       /* центр по горизонтали */
  width: 500px;
  transform: translate(-65%, 20%) scale(0); /* смещаем центр в точку, где будет расти */
  transform-origin: center center;         /* рост из центра */
  animation: appear 0.6s ease-out forwards;
}

@keyframes appear {
  0% { transform: translate(-55%, 20%) scale(0); opacity: 0; }
  50% { transform: translate(-55%, 20%) scale(0.5); opacity: 0.5; }
  100% { transform: translate(-55%, 20%) scale(1); opacity: 1; }
}

.restart-btn {
  top: 135%;
  position: relative;
  padding: 10px 20px;
  font-size: 18px;
  border: none;
  border-radius: 12px;
  background: #ff6b81;
  color: white;
  cursor: pointer;
  transition: 0.2s;
}
.restart-btn:hover {
  background: #ff4757;
}

.cake .candle {
  position: absolute;
  cursor: pointer;
  transition: transform 0.4s ease, opacity 0.4s ease;
}

/* позиции свечей на торте (примерно) */
.cake .candle:nth-child(4) { top: 0; left: 0%; } /* красная */
.cake .candle:nth-child(2) { top: 0; left: 0%; } /* зеленая */
.cake .candle:nth-child(3) { top: 0; left: 0%; } /* розовая */
.cake .candle:nth-child(5) { top: 0; left: 0%; } /* синяя */

.cake .candle.blown {
  transform: scale(0);
  opacity: 0;
}
