<ng-container *ngIf="!engine.isGameStarted; else gameTpl">
  <app-start-screen (start)="onStartGame()"></app-start-screen>
</ng-container>

<ng-template #gameTpl>
  <div class="canvas-wrap">
    <canvas #canvas class="game-canvas"></canvas>
  </div>
  <button (click)="onTestFinalScreen()" style="position: fixed; top: 10px; right: 10px; z-index: 200;">
  💥 Show Final Screen
</button>
</ng-template>

<app-final-cake
  *ngIf="engine.state"
  [ingredients]="engine.getCollectedIngredients()"
  [visible]="engine.state.isFinalCakeShown"
  (restart)="engine.reset()">
</app-final-cake>
